[submodule "psadurango"]
	path = psadurango
	url = git@git.vauxoo.com:vauxoo/psadurango.git
	branch = 15.0
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 15.0
[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 15.0
